# SF Salary Exercise

Data Source: Kaggle https://www.kaggle.com/kaggle/sf-salaries/version/2

In [ ]:
import pandas as pd

In [48]:
sal = pd.read_csv('Salaries.csv',low_memory=False)

In [49]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN

In [50]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null float64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 14.7+ MB

In [ ]:
pd.crosstab(sal["BasePay"],sal["TotalPay"],margins=True)

In [7]:
sal.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [9]:
sal['TotalPay'].max()

567595.43

In [10]:
sal['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [13]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [14]:
sal['TotalPayBenefits'].max()

567595.43

In [18]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [19]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [21]:
sal['TotalPayBenefits'].argmin()

/Users/pettychen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  """Entry point for launching an IPython kernel.

148653

In [22]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

/Users/pettychen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  """Entry point for launching an IPython kernel.

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [23]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014.0,NaN,San Francisco,PT

In [27]:
sal.groupby('Year').mean()

              Id      TotalPay  TotalPayBenefits  Notes
Year
2011.0   18080.0  71744.103871      71744.103871    NaN
2012.0   54542.5  74113.262265     100553.229232    NaN
2013.0   91728.5  77611.443142     101440.519714    NaN
2014.0  129593.0  75463.918140     100250.918884    NaN

In [29]:
salY= sal.groupby('Year').mean()

In [32]:
salY

              Id      TotalPay  TotalPayBenefits  Notes
Year
2011.0   18080.0  71744.103871      71744.103871    NaN
2012.0   54542.5  74113.262265     100553.229232    NaN
2013.0   91728.5  77611.443142     101440.519714    NaN
2014.0  129593.0  75463.918140     100250.918884    NaN

In [33]:
sal['JobTitle'].nunique()

2159

In [35]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [36]:
sal[sal['Year']==2013]['JobTitle'].value_counts()

Transit Operator                  2295
Special Nurse                     1445
Registered Nurse                  1231
Public Svc Aide-Public Works       859
Custodian                          789
Firefighter                        785
Police Officer 3                   774
Patient Care Assistant             676
Recreation Leader                  654
Deputy Sheriff                     653
Police Officer                     503
Public Service Trainee             439
Police Officer 2                   383
Attorney (Civil/Criminal)          371
Sergeant 3                         361
Porter                             360
Eligibility Worker                 355
General Laborer                    343
Gardener                           304
EMT/Paramedic/Firefighter          297
Senior Clerk                       288
Parking Control Officer            284
Library Page                       276
Senior Eligibility Worker          262
Senior Clerk Typist                251
Licensed Vocational Nurse          248
Clerk                              248
Stationary Engineer                233
Nurse Practitioner                 231
PS Aide to Prof                    218
                                  ...
Shade and Drapery Worker             1
Secretary, Comm on the Environ       1
Supply Room Attendant                1
Supervising Parts Storekeeper        1
Payroll Supervisor                   1
Laboratory Technician I              1
Traffic Signal Operator              1
Asst Chf, Bur Clm Invest&Admin       1
Senior Offset Machine Operator       1
Drug Court Coordinator               1
Pr Investigator, Tax Collector       1
Mayoral Staff XII                    1
Sup Ct Admin Secretary               1
Sheriff (SFERS)                      1
Director, Probation Services         1
Administrative Analyst I             1
Airport Communications Officer       1
Librarian 2 - Asian Arts             1
Court Interpreter Supervisor         1
Adm, SFGH Medical Center             1
Special Assistant 14                 1
Director, Info Tech Group            1
Traffic Sign Manager                 1
Disability Access Coordinator        1
Water Meter Shop Supervisor 1        1
Principal Recreation Sprv            1
Airport Mechanical Maint Sprv        1
Senior Plan Checker                  1
Mech Shop & Equip Supt               1
Shelter Officer Supervisor           1
Name: JobTitle, Length: 1051, dtype: int64

In [37]:
sal[sal['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Licensed Vocational Nurse         False
Clerk                             False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Shade and Drapery Worker           True
Secretary, Comm on the Environ     True
Supply Room Attendant              True
Supervising Parts Storekeeper      True
Payroll Supervisor                 True
Laboratory Technician I            True
Traffic Signal Operator            True
Asst Chf, Bur Clm Invest&Admin     True
Senior Offset Machine Operator     True
Drug Court Coordinator             True
Pr Investigator, Tax Collector     True
Mayoral Staff XII                  True
Sup Ct Admin Secretary             True
Sheriff (SFERS)                    True
Director, Probation Services       True
Administrative Analyst I           True
Airport Communications Officer     True
Librarian 2 - Asian Arts           True
Court Interpreter Supervisor       True
Adm, SFGH Medical Center           True
Special Assistant 14               True
Director, Info Tech Group          True
Traffic Sign Manager               True
Disability Access Coordinator      True
Water Meter Shop Supervisor 1      True
Principal Recreation Sprv          True
Airport Mechanical Maint Sprv      True
Senior Plan Checker                True
Mech Shop & Equip Supt             True
Shelter Officer Supervisor         True
Name: JobTitle, Length: 1051, dtype: bool

In [38]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts())

37606

In [39]:
sal['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [40]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [41]:
chief_string('CHIEF MANAGER')

True

In [43]:
sal['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8         False
9          True
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28         True
29         True
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [44]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [45]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [46]:
sal[['JobTitle','title_len']].corr()

           title_len
title_len        1.0

In [47]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000